*{
    margin:0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    align-items: center;
    color: black;
    margin: 0px;
    
}

.banner{
    height:100vh;
    width:100%;
    background-position: center;
    background-size:cover;
}

.navbar{
    display:flex;
    width:95%;
    padding:5px;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    
}   
.logo{
    width:270px;
    height: 100px;
    margin-left: 45px;
}
.banner video{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 40px;
}
.navbar ul li a{
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background-color: white;
    color:black;
}
.content{
    margin-left: 280px;
    font-weight: 800;
    margin-top: 80px;
}
.content h1{
    color: white;
}
.banner{
    height:100vh;
    width:100%;
    background-position: center;
    margin-top: 100px;
    font-size: 36px;
}
.button{
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    width:150px;
    margin-left:400px;
    background-color: white;
    color:black;
    cursor: pointer;
    font-size: 20px;
    margin-top: 35px;
    font-weight: 600;
}
.button:hover{
    background-color:rgb(0,155,226);
    color: white;
}

@media(min-aspect-ratio:16/9){
    .banner video{
        width:100%;
        height:auto;
    }
}

